$red:   #f00;
$green: #0f0;
$blue:  #2EA0E9;
$pink:  #f43059;


$color--primary: $blue;

// Links
$color--links: $color--primary;



// Buttons
$color--btn: $color--links;




// Promotions
$color--promotion: $color--primary;
$color--promotion--highlight: light($color--promotion, 20);
