$red:   #C51A19;
$green: #0f0;
$blue:  #2EA0E9;
$pink:  #f43059;


$color--primary: $red;
$color--primary--light: #FF5857;

// Links
$color--links: $color--primary--light;



// Buttons
$color--btn: $color--primary;




// Promotions
$color--promotion: $color--primary;
$color--promotion--highlight: light($color--promotion, 20);
