$red:   #C51A19;
$green: #0f0;
$blue:  #61717F;
$pink:  #f43059;


$color--primary: #000;
$color--primary--light: lighten($color--primary, 20);

$color--secondary: $blue;

// Links
$color--links: $color--primary--light;



// Buttons
$color--btn: $color--primary;




// Promotions
$color--promotion: $color--primary;
$color--promotion--highlight: lighten($color--promotion, 20);
