/**
 * Settings
 */
@import "settings.colors";
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";


/**
 * Tools
 */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "tools.mixins";
//$inuit-use-fractions: false;
@import "bower_components/inuit-tools-widths/tools.widths";
@import "bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.aliases";


/**
 * Generic
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-box-sizing/generic.box-sizing";


/**
 * Base
 */
@import "base.page";
@import "base.links";
@import "bower_components/inuit-page/base.page";
@import "bower_components/inuit-images/base.images";


/**
 * Objects
 */
@import "objects.wrappers";
//$inuit-enable-layout--middle: true;
//$inuit-enable-layout--large: true;
//@import "bower_components/inuit-layout/objects.layout";

$inuit-btn-background: transparent;
$inuit-btn-border-width: 2px;
$inuit-btn-color: #000;
$inuit-enable-btn--full: true;
$inuit-enable-btn--pill: true;
@import "bower_components/inuit-buttons/objects.buttons";

$inuit-enable-list-ui--small: true;
@import "bower_components/inuit-list-inline/objects.list-inline";
$inuit-enable-list-block--small: true;
@import "bower_components/inuit-list-block/objects.list-block";
$inuit-list-ui-border-width: 1px;
$inuit-enable-list-ui--tiny: true;
@import "bower_components/inuit-list-ui/objects.list-ui";
@import "bower_components/inuit-layout/objects.layout";

//$inuit-enable-media--tiny: true;
//$inuit-enable-media--rev: true;
$inuit-enable-media--small: true;
$inuit-enable-media--tiny: true;
$inuit-enable-media--responsive: true;
$inuit-enable-media--rev:        true;
@import "bower_components/inuit-media/objects.media";

$inuit-enable-flag--small: true;
$inuit-enable-flag--tiny: true;
$inuit-enable-flag--responsive: true;
$inuit-enable-flag--rev:        true;
@import "bower_components/inuit-flag/objects.flag";


/**
 * Components
 */

 @import "components.app-bar.scss";
 @import "components.navdrawer.scss";
 @import "components.buttons.scss";
 @import "components.product.scss";
 @import "components.promotion.scss";



/**
 * Trumps
 */

 @import "bower_components/inuit-helper/trumps.helper";
 $inuit-enable-margins:          true;
 $inuit-enable-paddings:          true;
 @import "bower_components/inuit-spacing/trumps.spacing";
 @import "bower_components/inuit-clearfix/trumps.clearfix";
 @import "bower_components/inuit-widths/trumps.widths";
 @import "bower_components/inuit-widths-responsive/trumps.widths-responsive";
 @import "trumps.widths-responsive";
